@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: roboto !important;
}

/* lista desafios hover */
.hoverEffect:hover {
  transition: all 0.3s ease-in-out;
  background-color: #8d52e5;
  color: azure;
}

