@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
}

a, p, h1, h2, h3, h4, h5, h6, ::placeholder {
    font-family: Raleway !important;
    color: black !important;
}

/* lista desafios hover */
.hoverEffect:hover {
  transition: all 0.3s ease-in-out;
  background-color: #8d52e5;
}

a {
  text-decoration: none;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
